@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

:root {
    --width-stroke: 6;
    --color-stroke: rgb(255, 217, 217);
    --color-stroke-error: rgb(255, 145, 145);
    /* --color-stroke-valid: rgb(145, 255, 151); */ --color-stroke-valid: rgb(210, 11, 255);

    /*  Valeurs par défaut */
    --nb-points-par-lgn-col: 3;
    --nb-points: calc(var(--nb-points-par-lgn-col) * var(--nb-points-par-lgn-col));

    --diametre-point: 6;

    --border-radius: 1vh;
    --transition-time: 500;
    --transition-time-in-ms: calc(var(--transition-time) * 1ms);

    --animation-msg: 600;
    --animation-msg-in-ms: calc(var(--animation-msg) * 1ms);

    /* couleurs éléments */
    --background-screen: #2b2a2a;
    --background-container: color-mix(in srgb, var(--background-screen) 85%, white);
    --color-point: #fff;
    --color-font: #fff;

    --animation-shrink: shrink;

    --side-grid: 80%;

    /* squares part */
    --squares-opacity: 0.2;
    --nb-range: 4;
    --time-animation-range-square-regular: 7;
    --time-animation-range-square-in-sec-regular: calc(var(--time-animation-range-square-regular) * 1s);
    --time-animation-range-square-slow: 10;
    --time-animation-range-square-in-sec-slow: calc(var(--time-animation-range-square-slow) * 1s);
    --time-animation-range-square-hidden: 1.5;
    --time-animation-range-square-in-sec-hidden: calc(var(--time-animation-range-square-hidden) * 1s);
    --space-between-squares: 5vmax;
    
    --time-transition-flipping-card: 0.8;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    min-height: 100%;
    font-size: 16px;
}

body {
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;

    display: grid;
    align-items: center;
    justify-items: center;
    background-color: var(--background-screen);
    grid-template-rows: 1fr 0fr;
    transition: grid-template-rows var(--transition-time-in-ms) ease;
    overflow-y: hidden;

    &:has(.grid-points:not(:empty)) {
        grid-template-rows: 1fr 5fr;
    }
}

.squares-wrapper {
    position: fixed;
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    gap: var(--space-between-squares);
    transform: rotate(-18deg) skew(3deg, 3deg);
    transform-origin: center center;
    inset: auto;
    pointer-events: none;
    opacity: var(--squares-opacity);

    border: dashed 1px #fff;
    width: 120vmax; /* Magic number */
    height: 140%; /* Magic number */

    &.fade-in { animation: fadeIn 1s ease-in-out forwards; }
}
.squares-range {
    display: flex;
    flex-direction: column;
    gap: var(--space-between-squares);
    padding-block: calc(var(--space-between-squares) / 2);
    &.up {
        align-self: flex-start;
        animation: scroll-up var(--time-animation-range-square-in-sec-regular) linear infinite;
        
        &.slow {
            animation: scroll-up var(--time-animation-range-square-in-sec-slow) linear infinite;
        }
        &.hidden {
            animation: hidden-scroll-up var(--time-animation-range-square-in-sec-hidden) ease forwards;
        }
    } 
    &.down {
        align-self: flex-end;
        animation: scroll-down var(--time-animation-range-square-in-sec-regular) linear infinite;
        
        &.slow {
            animation: scroll-down var(--time-animation-range-square-in-sec-slow) linear infinite;
        }
        &.hidden {
            animation: hidden-scroll-down var(--time-animation-range-square-in-sec-hidden) ease forwards;
        }
    } 
    
    & > div {
        border-radius: 1vmax;
        width: calc((100 / var(--nb-range)) * 1vmax);
        aspect-ratio: 1;
        box-shadow: -5px 5px 10px #000;
        background: linear-gradient(45deg, #585858, #fff);

        /* Juste pour Phase de dev. */
        font-weight: bold;
        font-size: 50px;
        color: yellow;
    }
}

.parametres-shema {
    display: flex;
    justify-content: center;
    width: min(400px, 70dvh);
    position: relative;
    z-index: 1;
    animation: fadeInFromBottom 1s cubic-bezier(0.32, 0, 0.27, 0.97);
}
@keyframes fadeInFromBottom {
    0% {
        translate: 0 200px;
        opacity: 0;
    }
    100% {
        translate: 0 0;
        opacity: 1;
    }
}
#select-nb-points {
    border: none;
    border-radius: var(--border-radius);
    padding: .5rem 1rem;
}
.msg {
    font-size: clamp(1rem, 4vmin, 1.5rem);
    color: var(--color-font);
    position: absolute;
    top: 6vh;
    opacity: 1;
    transform: translateY(0);
    transition-duration: 0.5s;
    transition-property: all;
    transition-timing-function: ease-out;
    /* transition-delay: var(--transition-time-in-ms); */
    transition-delay: 0.15s;
    
    &.anim-up {
        animation-name: switchText;
        animation-duration: var(--animation-msg-in-ms);
        animation-fill-mode: forwards;
    }

    &.valid {
        color: var(--color-stroke-valid);
    }
    &.invalid {
        color: var(--color-stroke-error);
    }

}
.parametres-shema:has(+ .container .grid-points:empty) .msg {
    opacity: 0;
    transform: translateY(50px);
    transition-delay: 0s;
}

@keyframes switchText {
    49% {
        margin-top: -2dvh;
        opacity: 0;
    }
    50% {
        margin-top: 2dvh;
    }
    100% {
        margin-top: 0dvh;
        opacity: 1;
    }
}

#btValidateSchema,
#btInvalidateSchema {
    font-family: "Dosis", sans-serif;
    font-size: clamp(1rem, 2.1dvmin, 1.5rem);
    font-weight: 600;
    cursor: pointer;
    background-color: var(--background-container);
    color: var(--color-font);
    border-radius: 100px;
    margin: 0 0.5rem;
    border: none;
    padding: 0.5rem 1.2rem;
    transition: background-color .2s ease;
    &:hover {
        background-color: color-mix(in srgb, var(--background-screen) 70%, white);
    }
}

#deleteSchema {
    border: none;
    background-color: transparent;
    color: var(--color-font);
    text-decoration: underline;
    display: none;
    cursor: pointer;
    position: absolute;
    top: 9dvh;
    animation: vanish 1s ease;
}
#deleteSchema.display {
    display: block;
    
    animation: fadeIn 1s ease;
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes vanish {
    from { 
        display: block;
        opacity: 1; 
    }
    to { 
        display: none;
        opacity: 0; 
    }
}


#iconCheckObj {
    display: block;
}
/* Flip card container */
.flip-card {
    width: max(70vmin, 400px);
    height: max(70vmin, 400px);
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* for 3D effect */

    /* CUSTOM : Surcharge pour anim qd selection ds liste deroulante */
    &:has(.grid-points:empty) {
        overflow: hidden;
        opacity: 0;
        height: 0;
        padding: 0;
        margin: 0;

        & #iconCheckObj {
            display: none;
        }
    }
    transition: height var(--transition-time-in-ms) ease, 
            margin var(--transition-time-in-ms) ease,
            padding var(--transition-time-in-ms) ease, 
            opacity var(--transition-time-in-ms) ease;
}

.flip-card-inner { /* This container is needed to position the front and back side */
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform calc(var(--time-transition-flipping-card) * 1s);
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
/* .flip-card:hover .flip-card-inner, */.flip-card.action-flip .flip-card-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, 
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

/* Style the back side */
.flip-card-back {
    transform: rotateY(180deg);
    display: grid;
    place-items: center;
    & > div {
        display: grid;
        place-items: center;
        height: var(--side-grid); 
        aspect-ratio: 1;
        background-color: var(--background-container);
        & > object {
            width: 70%;
            aspect-ratio: 1;
        }
    }
}
/* END - Flip card container */

.container {
    /* position: relative;
    width: max(70vmin, 400px);
    height: max(70vmin, 400px); */
    box-shadow: 0 0 4px rgb(255, 186, 186); /* Juste pour test */
    display: flex;
    align-items: center;
    justify-content: center;

    transition: height var(--transition-time-in-ms) ease, 
                margin var(--transition-time-in-ms) ease,
                padding var(--transition-time-in-ms) ease, 
                opacity var(--transition-time-in-ms) ease;

    /* &:has(> .grid-points:empty) {
        overflow: hidden;
        opacity: 0;
        height: 0;
        padding: 0;
        margin: 0;
    } */
    &.vibrate {
        animation: vibrate 0.4s;
    }
    &.shrink {
        animation: var(--animation-shrink) 0.4s cubic-bezier(0.8, 0, 1, 0.56) forwards;
    }

    .grid-points {
        display: grid;
        grid-template-columns: repeat(var(--nb-points-par-lgn-col), 1fr);

        /* width: var(--side-grid);  */ /* Avec, on n'a plus l'anim qd selection ds liste déroulante */
        height: var(--side-grid); 
        background-color: var(--background-container);
        border-radius: var(--border-radius);

        &.pulse::after {
            content: "";
            position: absolute;
            box-shadow: inset var(--color-stroke-valid) 0 0 0px 0px, var(--color-stroke-valid) 0 0 0 10px;
            height: var(--side-grid);
            width: var(--side-grid);
            background-color: var(--background-container);
            border-radius: var(--border-radius);
            animation: pulse 0.3s ease-out;
            animation: pulse 0.5s cubic-bezier(0, 0.5, 0.35, 1);
        }

        div:not(.point) {
            display: grid;
            place-content: center;
            aspect-ratio: 1;
            .point {
                width: calc(var(--diametre-point) * 1dvh);
                aspect-ratio: 1;
                border-radius: 50%; 
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                &:before {
                    content: "";
                    position: absolute;
                    background-color: var(--color-point);
                    border-radius: 50%;
                    opacity: 0;
                    width: 0;
                    aspect-ratio: 1;
                    transition: all .3s ease;
                }
                &:hover::before {
                    opacity: .2;
                    width: calc(var(--diametre-point) * 1dvh);
                    aspect-ratio: 1;
                    cursor: pointer;
                }
                &:after {
                    content: "";
                    position: absolute;
                    border-radius: 50%;
                    background-color: var(--color-point);
                    width: calc((var(--diametre-point) * 1dvh) / 2);
                    aspect-ratio: 1;
                }
                &.error:after {
                    /* background-color: var(--color-stroke-error); */
                    animation: flash-error 500ms forwards;
                }
                &.valid:after {
                    background-color: var(--color-stroke-valid);
                }
            }
        }
    }
}
#zone-canvas {
    position: absolute;
    inset: 0;
    box-shadow: 0 0 2px blue; /* TEST */
}


/* TEST */
@keyframes flash-error {
    0%, 60% {
        background-color: var(--color-stroke-error);
    }
    40%, 100% {
        background-color: var(--color-stroke);
    }
}


@keyframes vibrate {
    20%, 60% {
        transform: rotate(3deg);
    }
    40%, 80% {
        transform: rotate(-3deg);
    }
    100% {
        transform: rotate(0deg);
    }
}


@keyframes pulse {
    100% {
        transform: scale(1.2);
        opacity: 0;
        box-shadow: inset var(--color-stroke-valid) 0 0 10px 5px,
                    var(--color-stroke-valid) 0 0 10px 20px;
    }
}

@keyframes shrink {
    60% {
        opacity: 1;
    }
    100% {
        transform: scale(0);
        opacity: 0;
    }
}

@keyframes scroll-up  {
    100% {
        transform: translate(0, -50%);
    }
}
@keyframes scroll-down  {
    100% {
        transform: translate(0, 50%);
    }
}
@keyframes hidden-scroll-up  {
    10% {
        opacity: 1;
    }
    100% {
        transform: translate(0, -300vmax);
        opacity: 0;
    }
}
@keyframes hidden-scroll-down  {
    10% {
        opacity: 1;
    }
    100% {
        transform: translate(0, 300vmax);
        opacity: 0;
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: var(--squares-opacity);
    }
}